body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 10px;
    
}

body::-webkit-scrollbar-track{ 
    margin: 3px;
}

body::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: rgba(6, 6, 48, 0.315);
    
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    overflow: hidden;
}
/* ******************************* nav part ******************************* */
header{
    background-color: rgb(6, 6, 48);
    position: relative;
}
header img{
    border-radius: 50%;
    width: 40px;
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}

/* ******************************* dashboard layout ******************************* */
.dashboard-status-bar{
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.164) inset;
}
.fa-pencil-alt{
    color: #cccccc;
}

#dashboard {
    background-color: #f5f7f8;
}

.nav-icons .nav-link{
    color: rgba(15, 15, 85, 0.835);
    font-size: 18px;
}
#close {
    color: rgba(15, 15, 85, 0.835);
    cursor: pointer; 
}
/*  ******************************* widget part *******************************  */
.widget-options{
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgb(6, 6, 48);
    transition: all 0.5s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.63);
    
}
.widget-options i{
    border: 1.5px solid white;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
}
.widget-options li{
    transition: all 0.2s;
}
.widget-options li:hover{
    background-color: rgba(119, 121, 122, 0.253);
    border-left:7px solid rgb(159, 162, 163);
}
#widgets{
    position: fixed;
    top: 0;
    overflow-y: scroll;
    left: -100%;
    bottom: 0;
    z-index: 8;
    background-color: white;
    padding-top: 11rem;
    border-right: #cccccc solid 1px;  
    
}
#widgets::-webkit-scrollbar {
    width: 3px;
}

#widgets::-webkit-scrollbar-track{ 
    margin: 135px 15px 5px;
}

#widgets::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: rgba(6, 6, 48, 0.315);
}
#chart1,#chart2,#chart4,#chart3{
    height: 85% !important;
    
}

.widget{
    
    width: 170px;
    height: 200px;
    border: solid #cccccc 1px;
    cursor: grab;
}

/* ******************************* drop slots section ******************************* */

#slots .slot i{
    color: #f3f3f3;
    
}
#slots .disabled-slot i{
    color: #ececec;
}
.noGutters{
    margin-left: 0px;
    margin-right: 0px;
}
.slot{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fefefe;
    margin-bottom: 2rem;
    border: dashed 1.5px #cccccc;
    font-size: 20px;
}
.disabled-slot>[id*='slot']{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    border: dashed 1.5px #cccccc;
    font-size: 20px;
    height: 100%;
}
.disabled-slot{
    height: 100px;
    width: 100%;
}

.enabled-slots{
    height: 200px;
    width: 100%;
    resize: vertical;
    overflow: hidden;
    
}

.back-btn{
    color: rgba(6, 6, 48, 0.897);
    border: rgba(6, 6, 48, 0.897) 1.8px solid;
    font-weight: 600;
}
 .save-btn{
    color: rgb(236, 163, 5);
    border: rgb(236, 163, 5) 1.8px solid;
    font-weight: 600;
}

.back-btn:hover{
    color: rgba(6, 6, 48, 0.897);
    background-color: rgb(225, 235, 243);
}
.save-btn:hover{
    color: rgb(236, 163, 5);
    background-color:rgb(245, 242, 236) ;
}
.save-btn:focus,.back-btn:focus{
    box-shadow: none;
}
/********************************** medium screen ************************************************/
@media screen and (min-width:768px){
    
   
    #widgets{
        padding-top: 9rem;
    }
    #widgets .btn-color{
        font-size: large;
    }
    .widget{
        width: 210px;
        height: 210px;
    }
    
    #slots{
        border-left: none;  
    }
    .disabled-slot{
        height: 150px;
        width:33.33%;
    }
    
    .enabled-slots{
        height: 250px;
        width: 50%;
        resize: both;
        overflow: hidden;
        
    }
    
}

/********************************* large  screens *******************************************/
@media screen and (min-width:992px){
    
    .disabled-slot{
        height: 300px;
        width: 25%;
    }
    .enabled-slots{
        height: 400px;
        width: 50%;       
    }

}


